.section {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 2em;
}

.map > img{
  background: transparent;
  width: 35em;
  height: 45em;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroButtons {
  display: flex;
  margin-top: 2em;
  gap: 4em;
}

.heroButtons > button {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
}