/*? footer containers */

footer {
  background-color: var(--footer-background);
  min-width: 18rem;
  width: 100%;
  height: 20em;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  width: 100%;
  height: 20em;
  flex-direction: column;
  max-width: 80rem;
  padding: 1rem;
}

/*? footer columns */
.footer-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex: 2 0 14rem;
  width: 100%;
  gap: 1rem;
  padding: 1.5rem 0.5rem 1rem 0.5rem;
  margin: 0 auto;
}

.footer-columns ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-columns ul a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-columns ul a:hover{
  text-decoration: underline;
}

.footer-columns ul li {
  margin-bottom: 1rem;
}

.footer-columns h3 {
  color: var(--text-primary);
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
}

.footer-centering {
  margin: 0 auto;
}

.footer-columns > section {
  min-width: 10rem;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--text-color);
  margin-bottom: 4rem;
}

.footer-logo svg {
  stroke: var(--text-color);
  stroke-width: 8px;
  width: 3rem;
  height: 3rem;
}


/*? Footer bottom */

.footer-line {
  display: block;
  min-width: 2.5rem;
  height: 0.125rem;
  background-color: var(--text-gray);
}

/*? socials */

.social-links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.social-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social-links img {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.social-links img:hover {
  transform: scale(1.1);
}

.social-links ul {
  display: flex;
  gap: 0.75rem;
  list-style-type: none;
}

